{% extends 'main/base.html' %}
{% block title %}Форма добавления материала к курсу{% endblock %}

{% block body %}
    <div class="featers">
    <h1>Форма добавления материала к курсу</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_1.as_p }}
        {% if form_2 %}
        {{ form_2.as_p }}
        {% endif %}
        {% if form_3 %}
        {{ form_3.as_p }}
        {% endif %}
        {% if form_4 %}
        {{ form_4.as_p }}
        {% endif %}

        <button class="btn btn-success" type="submit">Добавить материал</button>
    </form>
    </div>
{% endblock %}

