{% extends 'main/base.html' %}
{% block title %}
    Объявления
{% endblock %}

{% block body %}
    {% if edit %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Отправить</button>
            <span>{{ error }}</span>
        </form>
        <a href="{% url 'announce'%}">Просмотр объявлений</a>

    {% else %}

        {% for a in viewed_ann %}
            <li> {{a.sender}}: {{a.html}} 

                {% if a.sender.id != user.id %}
                    <form action="{% url 'remove_announce' ann_id=a.id %}" method=POST>
                        {% csrf_token %}
                        <button id="close-btn" type="submit">
                            Close!
                        </button>
                    </form>

                {% else %}
                    <form action="{% url 'delete_announce' ann_id=a.id %}" method=POST>
                        {% csrf_token %}
                        <button id="close-btn" type="submit">
                            Delete!
                        </button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        <a href="{% url 'write_announce'%}">Создать объявление</a>

    {% endif %}


{% endblock %}
