{% extends 'main/base.html' %}
{% block title %}
Добавить текстовую страницу
{% endblock %}

{% block body %}
    <h1>{% if edit %}Редактировать{% else %}Добавить{% endif %} текстовую страницу</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% if edit %}Редактировать{% else %}Добавить{% endif %}</button>
    </form>

    Здесь можно использовать <a href="https://ru.wikipedia.org/wiki/Markdown">Markdown</a> и MathJax (js рендеринг Tex-а). Математические блоки обозначаются $$…$$, строчные — $…$.
{% endblock %}