{% extends 'main/base.html' %}
{% load tags %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
    <h1>Главная страница</h1>

    {{ user|to_str }}

    <p>Разделы сайта:</p>

    <h2>Курсы</h2>

    {% for el in courses %}
    <div class="alert alert-warning mt-2">
         <a href="{{ el.absolute_url }}" class="course-link">{{ el.name }}</a>
    </div>
    {% endfor %}

    <h2>Задания</h2>
    
    {% if tasks %}
        <ol>
        {% for el in tasks %}
        
             <li>{{ el|to_str }}</li>
             <p>{{ el.description }}</p>
        
        {% endfor %}
        </ol>
    {% else %}
        <p>Пока нет дел!</p>
    {% endif %}

    <h2>Расписание</h2>
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRD59ze5tGfZYMzTULP1fzqkb4P0rEtGuGC2f49aaG4uU6A1BIHL_hOdCyUGJtR20VMO82zklFd8zZo/pubhtml?gid=238010881#">Неделя</a>



{% endblock %}